body {
	background: #555;
	margin: 0px;
}

.firstH {
	background: #444;
	color: #999;
	margin: 7.5px 5%;
	border-radius: 5px 0px 3px 0px;
	padding: 7.5px;
	text-align: center;
}

.profile {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.icon {
	position: fixed;
	right: 7px;
	bottom: 0px;
}

.buttons {
  background-color: #00ff0d;
  border: none;
  color: rgb(13, 0, 255);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  right: 1.5%;
  top: 10px;
}

div p a img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.descr {
	width: 70%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}