#body {
	background: #555;
	margin: 0px;
}

.firstH {
	background: #444;
	color: #999;
	margin: 7.5px 5%;
	border-radius: 5px 0px 3px 0px;
	padding: 7.5px;
	text-align: center;
}


.descr {
	width: 70%;
 	margin: 10px;
}

.me {
	width: 30%;
 	margin: 10px;
}

.end {
	margin: 20px;
	text-align: right;
	padding-top: 0%;
}


table tr td {
	margin-right: 13%;
	width: 20%;
	align-self: center;
	padding-top: 13%;
	
}